#content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

#list {
  list-style-position: inside;
}

#add {
  padding: 5px;
}

#remove {
  padding: 5px;
}
